.banner__carousel {
}

.banner__carousel-container {
    width: 100%;
    z-index: 0;
    position: relative;
}

.banner__carousel-box {
    height: 300px;
    max-height: 230px;
    position: relative;
}

.banner__carousel-viewport {
    width: 100%;
    overflow: hidden;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 600px;
}
.banner__carousel-viewport:before {
    background: linear-gradient(-180deg, rgba(234, 237, 237, 0), #eaeded);
    bottom: 0;
    content: "";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00EAEDED', endColorstr='#EAEDED', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00EAEDED', endColorstr='#EAEDED',GradientType=0)";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 250px;
    z-index: 1;
}

.banner__carousel-viewport img {
    width: 100%;
    height: 100%;
    left: -9999px;
    max-width: none;
    right: -9999px;
    margin: auto;
    position: absolute;
}
.banner__other-layout {
    position: relative;
    padding-top: 20px;
}

.banner__carousel .prev__icon--button,
.banner__carousel .next__icon--button {
    height: 300px;
    max-height: 230px;
    width: fit-content;
    margin: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.banner__carousel .prev__icon--button:focus,
.banner__carousel .next__icon--button:focus {
    box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #008296;
}
.banner__carousel .next__icon--button {
    left: auto;
}
.banner__carousel .controller__icon {
    margin: 0 20px;
    background-image: url(https://m.media-amazon.com/images/S/sash/ydDD9hnRfziI$y7.png);
    background-size: 68px 52px;
    width: 34px;
    height: 52px;
    outline: 0;
    background-position: -34px 0;
}

.banner__carousel .prev__icon {
    transform: rotate(180deg);
}
