/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

:root {
  --color-orange: orange;
  --color-darkorange: #c7511f;
  --color-orange-light: #febd69;
  --color-darkblue: #232f3e;
  --color-white: #fff;
  --color-primary: #131921;
  --color-secondary: #0f1111;
  --color-grey: #dddddd;
  --color-footer: #131a22;
  --color-link: #007185;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  /* color: var(--color-primary); */
  font-weight: 400;
}

a {
  color: unset;
  text-decoration: none;
}

.flex {
  display: flex;
}
.flex-center {
  display: flex;
  align-items: center;
}
.flex-end {
  display: flex;
  align-items: flex-end;
}
.flex-full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-stretch {
  display: flex;
  align-items: stretch;
}
.fullWidth {
  width: 100%;
}
.fullHeight {
  height: 100%;
}
.fullWidthHeight {
  width: 100%;
  height: 100%;
}
.nowrap {
  white-space: nowrap;
}
.relative {
  position: relative;
}
.link:hover {
  color: orange;
  text-decoration: underline;
}

.full-grow {
  flex-grow: 1;
}
.mr10 {
  margin-right: 10px;
}
.ml4 {
  margin-left: 4px;
}
.ml10 {
  margin-left: 10px;
}
.ml12 {
  margin-left: 12px;
}
.ml-4 {
  margin-left: -4px;
}
.mb10 {
  margin-bottom: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl10 {
  padding-left: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pr20 {
  padding-right: 20px;
}
.pr30 {
  padding-right: 30px;
}
.ml-auto {
  margin-left: auto;
}

.translateX_right {
  transform: translateX(100%);
}
.p10 {
  padding: 10px;
}

.arrow__next {
  background-image: url(../assets/images/icons_pack2.png);
  background-position: -137px -288px;
  width: 10px;
  height: 14px;
  transform: scaleX(1);
  background-repeat: repeat-x;
}

.back__arrow {
  background-image: url(../assets/images/icons_pack2.png);
  background-position: -137px -310px;
  background-repeat: repeat-x;
  width: 16px;
  height: 16px;
  transform: scaleX(1);
}
.arrow__more {
  height: 8px;
  width: 13px;
  background-image: url(../assets/images/icons_pack2.png);
  background-repeat: repeat-x;
  background-position: -184px -342px;
}
.arrow__less {
  height: 8px;
  width: 13px;
  background-image: url(../assets/images/icons_pack2.png);
  background-repeat: repeat-x;
  background-position: -184px -342px;
  transform: rotate(180deg);
}
.show {
  display: block;
}
.hide {
  display: none;
}
.fullWidth {
  width: 100% !important;
}
.fullHeight {
  height: 100%;
}
